In [1]:
import pandas as pd

In [2]:
data = {'fruit': ['STRAWBERRY', 'LEMON', 'Pancake'],
       'grams': [50,80,100],
       'price': [1, 2, 8]}

df = pd.DataFrame(data)
df

        fruit  grams  price
0  STRAWBERRY     50      1
1       LEMON     80      2
2     Pancake    100      8

In [3]:
df['fruit'] = df['fruit'].str.lower()

In [4]:
df

        fruit  grams  price
0  strawberry     50      1
1       lemon     80      2
2     pancake    100      8

In [5]:
fruit_mapper = {'strawberry':'berry', 'lemon':'citrus', 'pancake':'not_fruit'}
df['type'] = df['fruit'].apply(lambda x: fruit_mapper.get(x))
df

        fruit  grams  price       type
0  strawberry     50      1      berry
1       lemon     80      2     citrus
2     pancake    100      8  not_fruit

In [6]:
df['price/100grams'] = df['grams']/100 * df['price']

In [7]:
df

        fruit  grams  price       type  price/100grams
0  strawberry     50      1      berry             0.5
1       lemon     80      2     citrus             1.6
2     pancake    100      8  not_fruit             8.0